<% @user ||= current_user %>
<li class="stat">
  <a href="<%= followers_user_path(@user) %>">
    フォロワー
   <span id="followers">
    <%= @user.followers.count %>
   </span>
    人
  </a>
</li>
<li class="stat">
  <a href="<%= following_user_path(@user) %>">
    フォロー中
    <span id="following">
      <%= @user.following.count %>
    <span>
    人
  </a>
</li>