<% @user ||= current_user %>
<li class="stat">
  <a href="<%= followers_user_path(@user) %>" id="followers">
    フォロワー<%= @user.followers.count %>人
  </a>
</li>
<li class="stat">
  <a href="<%= following_user_path(@user) %>" id="following">
    フォロー中<%= @user.following.count %>人
  </a>
</li>