<p>こんにちは、 <%= @resource.email %>様</p>

<p>パスワード変更するためのリンクを送信しました。以下のリンクにアクセスして変更を行ってください。</p>

<p><%= link_to 'パスワード変更を変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールに心当たりがないが場合は、お手数ですが破棄してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
